
//@import url(http://fonts.googleapis.com/css?family=Pacifico);
//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*Para que funcione nib: degradados*/
@import 'nib/vendor'
@import 'nib/gradients'


/*Prefijos propietarios*/
vendor-prefixes = o ms moz webkit 



body
	font-family: 'Lato', sans-serif;
	
img
	width 340px
	max-width 100%
	
.quitar-float
	float none
.espacio-arriba
	margin-top 100px
.pacifico
	font-family: 'Pacifico', cursive;
.grande
	font-size 4em
.verde
	color #00887C
//Modificacion tiempo de animacion
.retraso-1
	animation-delay 0.5s
.retraso-2
	animation-delay 1s

.espacio-derecha
	margin-right 1em
a, .azul
	color #009FFF
	
.inline-block
	float none
	display inline-block

.mediano
	font-size 1.2em	
	
.padding-largo
	padding 5px 10px
.vete-arriba
	vertical-align top
.se-gris
	background-color white
	
.no-lista
	margin 0
	padding 0	
.no-lista li
	list-style-type none

	